:root {
  --accent: #ff6c00;
  --font-light-color: #9da4bd;
  --font-dark-color: #303030;
  --main-font: "Open Sans", sans-serif;
  --second-font: "Raleway", sans-serif;
}
/* =======COMPONENTS======= */

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
}

h1,
h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--second-font);
  font-weight: bold;
}

h2 {
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: #555555;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle-light {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle-dark {
  color: var(--font-dark-color);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.description-light {
  color: var(--font-light-color);
}

.description-dark {
  color: #555555;
}
.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 130px 0;
}

.address {
  font-style: normal;
}

.modal-open-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;

  /* width: 160px; */
  /* min-height: 40px; */

  border: 1px solid var(--accent);
  border-radius: 25px;
  padding: 12px 20px;
}

.modal-open-btn-light {
  color: #ffffff;
}

.modal-open-btn-dark {
  color: var(--font-dark-color);
}

/* =======//COMPONENTS======= */

/* =======HEADER======= */

.header a,
.headre a:visited {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}
.header a:hover,
.header a:focus,
.header a:active {
  color: var(--accent);
}

.header {
  background-color: teal;
  padding: 40px 0;
}

.header .container {
  display: flex;
  align-items: center;
  background-color: grey;
}

.header .logo {
  margin-right: 70px;
}

.header .menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-list .item:not(:last-child) {
  margin-right: 40px;
}

.header .address {
  margin-left: auto;
  margin-right: 40px;
}
/* =======//HEADER======= */

/* =======top======= */
.top {
  background-color: lightblue;
}

.top .container {
  display: flex;
  background-color: lightpink;
}

.top-left {
  width: 100px;
}

.top-left .list {
  display: flex;
}

.top-left .list .item:not(:last-child) {
  margin-right: 40px;
}

.top-left a,
.top-left a:visited {
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--font-dark-color);
}

.top-left a:hover,
.top-left a:focus,
.top-left a:active {
  color: var(--accent);
}

.top-right {
  background-color: #ffffff;
  flex-grow: 1;
  padding-top: 272px;
  padding-right: 525px;
  padding-bottom: 206px;
  padding-left: 100px;
}

.top-right h1 {
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  /* color: #ffffff; */
}
/* =======//Топ======= */

/* =======О нас======= */
.about {
  background-color: lightsalmon;
}

.about .container {
  background-color: lightslategrey;
  display: flex;
}

.about .list {
  display: flex;
}

.about .list .item:not(:last-child) {
  margin-right: 30px;
}

.about-right {
  padding-left: 64px;
}

.about-right .description {
  margin-bottom: 20px;
}

.about-right .modal-open-btn {
  margin-top: 40px;
}

/* =======//О нас======= */

/* =======Услуги и цены======= */

.services {
  background-color: lightcyan;
}

.services .container {
  background-color: lightslategray;
}

.services .prices {
  display: flex;
}

.services h2 {
  /* color: #ffffff; */
}
.services ul span {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--font-light-color);
}
/* =======//Услуги и цены======= */

/* =======//Достижения======= */
.achievements-left .number {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.357;
  /* text-align: center; */
  letter-spacing: 0.05em;
}

.achievements-left sup {
  color: var(--accent);
}

.achievements-left p {
  font-size: 11px;
  line-height: 1.364;
  color: var(--font-dark-color);
  text-align: center;
}

.achievements h2 {
  color: var(--font-dark-color);
}
/* =======//Достижения======= */

/* =======Мастера======= */
.masters h2 {
  color: var(--font-dark-color);
}

.masters h3 {
  font-size: 18px;
  line-height: 1.389;
  /* text-align: center; */
  letter-spacing: 0.02em;
  color: var(--font-dark-color);
}

.masters ul p {
  font-size: 14px;
  line-height: 1.357;
  /* text-align: center; */
  letter-spacing: 0.02em;
  color: var(--accent);
}
/* =======//Мастера======= */

/* =======Контакты======= */
.contacts h2 {
  /* color: #FFFFFF; */
}

.contacts p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--font-light-color);
}

.contacts a {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--font-light-color);
}
/* =======//Контакты======= */

.footer p {
  font-style: normal;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.2em;
  color: var(--font-light-color);
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: var(--accent);
}
