$main-font: "Open Sans", sans-serif;
$second-font: "Raleway", sans-serif;
$accent: #ff6c00;
$font-light-color: #9da4bd;
$font-dark-color: #303030;
$bg-light: #f7f7f7;
$description-dark: #555555;
$white-color: #ffffff;
