.subtitle-dark {
  color: $font-dark-color;

  &::before {
    background-color: $font-dark-color;
  }
}

.description-dark {
  color: $description-dark;
}

.modal-open-btn_dark {
  color: $font-dark-color;
}
