.about {
  .list {
    display: none;
  }

  .description {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    .container {
      display: flex;

      .list {
        display: block;

        li:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      .about-right {
        padding-left: 30px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    .container {
      display: flex;

      .list {
        display: flex;

        .item:not(:last-child) {
          margin-right: 30px;
        }
      }

      .about-right {
        padding-left: 64px;
      }
    }
  }
}
