.about .container {
  display: flex;
}

.about .list {
  display: flex;

  .item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-right {
  padding-left: 64px;

  .description {
    margin-bottom: 20px;
  }
}
