.about .container {
  display: flex;
}

.about .list {
  display: flex;
}

.about .list .item:not(:last-child) {
  margin-right: 30px;
}

.about-right {
  padding-left: 64px;
}

.about-right .description {
  margin-bottom: 20px;
}
